* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: linear-gradient(270deg, #ee658c, #f3618a, #f65885, #f44e7d, #f84175, #f44e7d, #f65885,  #f3618a) ;
    background-size: 1000% 100%;
    animation: slideBackground 3s linear infinite;
}
}

@keyframes slideBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header {
    background-color: #2f9e41;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #cd191e;
}

main {
    padding: 40px 20px;
    text-align: center;
}

.destaque h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.destaque p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2f9e41;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: #cd191e;
}

footer {
    background-color: #2f9e41;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
